	<li{?claimed} class="claimed"{/claimed}>
		<a href="{url}">
			<h2>
				{?building}
					<span class="building"/>
				{/building}
				{?queued}
					<span class="queued">
				{/queued}
					{name}
				{?queued}
					</span>
				{/queued}
				{?building}
					</span>
				{/building}
			</h2>
		</a>
		<div class="lastSuccess">Since {lastSuccessfulBuildText}</div>
		{?description}
			<div class="description">{description|s}</div>
		{/description}
		{?culprits}
			<div class="culprits">{culprits}</div>
		{/culprits}
		{?claimed}
			<div class="claimedBy">{claim.claimedBy} is on it: {claim.reason}</div>
		{/claimed}
		<hr />
	</li>
